body {
    margin: auto;
}

body::before {
    margin: auto;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(45deg, rgba(70, 50, 144, 1), rgba(220, 75, 123, 1));
}

#calcuCard {
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 0 15px 12px #0000003f !important;
}

.asideInfo {
    padding: 10px;
    border-radius: 10px 0 0 10px;
    background-color: rgb(255,255,255);
}

.asideText {
    margin-top: 10px;
}

.asideForm {
    padding: 10px;
    border-radius: 0 10px 10px 0;
    background-color: rgb(240, 240, 240);
}