{% extends 'Calculadoras/CalcuBases.html' %}

{% load static %}

{% block title %} CalcuPGC {% endblock %}

{% block imagen %}
    <img src="{% static 'Calculadoras/imagenes/PGC.jpg'%}" class="card-img-top" alt="...">
{% endblock %}

{% block body %}
    {% if request.method == "POST"%}
    <p>Esta calculadora resuelve valores aproximados. ¡Consulte a su Nutricionista para un valor exacto!</p>  
    {% endif%}
    <p><strong>¿Qué es el PGC?</strong><br>Se trata de una medida indicativa de sobrepeso, o infrapeso, que nos ayuda a distinguir la masa muscular de la materia grasa que está presente en nuestra composición corporal.
        El peso que vemos en la báscula no lo es todo y en el caso de los deportistas, índices como el <a href="{% url 'CalcuIMC' %}" class="text-muted">IMC (Índice de Masa Corporal)</a> no resultan suficiente para medir la masa muscular real.
        El porcentaje de grasa corporal depende de la edad, el sexo, el peso y el estilo de vida. Así, podemos establecer los rangos que se muestra a continuación. <a href="#info">¿Quieres saber mas?</a></p>
{% endblock %}

{% block form %}
    <h4 class="text-align">Calculadora de Porcentaje de Grasa Corporal</h4>
    <p>Ingrese los siguientes datos:</p>
    <a href="{% url 'CalcuPGCM' %}" class="btn btn-outline-secondary">Mujer</a> 
    <a href="{% url 'CalcuPGCH' %}" class="btn btn-outline-secondary">Hombre</a>
    <form class="mt-2" action="{% url 'CalcuPGCH' %}" method="POST"> {% csrf_token %}
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="edad">Edad: </label>
            <input  id="edad" type="text" class="form-control" placeholder="18 años" aria-label="70" aria-describedby="basic-addon1" maxlength="3" name="edad" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="altura">Altura: </label>
            <input id="altura" type="text" class="form-control" placeholder="170 cm" aria-label="70" aria-describedby="basic-addon1" maxlength="3" name="altura" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="peso">Peso: </label>
            <input id="peso" type="text" class="form-control" placeholder="70 Kg" aria-label="70" aria-describedby="basic-addon1" maxlength="3" name="peso" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="cuello">Cuello: </label>
            <input id="cuello" type="text" class="form-control" placeholder="45 cm" aria-label="70" aria-describedby="basic-addon1" maxlength="3" name="cuello" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="cintura">Cintura: </label>
            <input id="cintura" type="text" class="form-control" placeholder="140 cm" aria-label="70" aria-describedby="basic-addon1" maxlength="3" name="cintura" required/>
        </div>
        <div class="d-grid gap-2">
            <input class="btn btn-light"  type="submit" value="Resultado"/>
        </div>
    </form>
    <div class="mt-3">
        {% if request.method == "POST" %}
            {% if edad < 39 %}
                {% if PGC_H <= 8 %}
                    <h5>Resultado</h5>
                    <p>No tienes la suficiente Grasa en el Cuerpo.<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Es esencial tener un PGC mas alto!</p>
                {% elif PGC_H <= 20 %}
                    <h5>Resultado</h5>
                    <p>Genial! te encuentras Saludable!<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Talvez tengas que perder grasa de la barriga</p>
                {% elif PGC_H <= 25 %}
                    <h5>Resultado</h5>
                    <p>Tienes Sobrepeso<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Debes cuidarte tu salud es importante</p>    
                {% elif PGC_H > 25 %}
                    <h5>Resultado</h5>
                    <p>Tienes Obesidad<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Esto es peligroso la Obesidad puede traer muchas enfermedades</p>   
                {% endif %}
                {% if PIdealH < peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg.<br> Te faltan {{ KgF |floatformat }} Kilos debes bajar de peso </p>
                {% elif PIdealH > peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg.<br> Te Sobran {{ KgF |floatformat }} Kilos debes subir de peso</p>
                {% elif PIdealH == peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg<br> Felicidades! Estas en tu peso ideal</p>
                {% endif %} 
            {% elif edad >= 39 %}
                {% if PGC_H <= 8 %}
                    <h5>Resultado</h5>
                    <p>No tienes la suficiente Grasa en el Cuerpo.<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Es esencial tener un PGC mas alto!</p>
                {% elif PGC_H <= 20 %}
                    <h5>Resultado</h5>
                    <p>Genial! te encuentras Saludable!<br> Tu Porcentaje de Grasa es: {{ GC_H|floatformat }}% <br>Consejo: Talvez tengas que perder grasa de la barriga</p>
                {% elif PGC_H <= 25 %}
                    <h5>Resultado</h5>
                    <p>Tienes Sobrepeso<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Debes cuidarte tu salud es importante</p>    
                {% elif PGC_H > 25 %}
                    <h5>Resultado</h5>
                    <p>Tienes Obesidad<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Esto es peligroso la Obesidad puede traer muchas enfermedades</p>   
                {% endif %}
                {% if PIdealH < peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg.<br> Te faltan {{ KgF |floatformat }} Kilos debes bajar de peso </p>
                {% elif PIdealH > peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg.<br> Te Sobran {{ KgF |floatformat }} Kilos debes subir de peso</p>
                {% elif PIdealH == peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg<br> Felicidades! Estas en tu peso ideal</p>
                {% endif %} 
            {% elif edad >= 59 %}
                {% if PGC_H <= 11 %}
                    <h5>Resultado</h5>
                    <p>No tienes la suficiente Grasa en el Cuerpo.<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: debes tener una dieta mas saludable a tu edad necesitas un poco mas de grasa.</p>
                {% elif PGC_H <= 22 %}
                    <h5>Resultado</h5>
                    <p>Genial! te encuentras Saludable!<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Talvez tengas que perder grasa de la barriga ¡Bien hecho!</p>
                {% elif PGC_H <= 28 %}
                    <h5>Resultado</h5>
                    <p>Tienes Sobrepeso<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Debes cuidarte tu salud es importante. Recuerda ir con un especializasta</p>
                {% elif PGC_H > 28 %}
                    <h5>Resultado</h5>
                    <p>Tienes Obesidad<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Esto es peligroso la Obesidad puede traer muchas enfermedades. ¡Comienza de a poco, tu puedes!</p>
                {% endif %} 
                {% if PIdealH < peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg.<br> Te faltan {{ KgF |floatformat }} Kilos debes bajar de peso </p>
                {% elif PIdealH > peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg.<br> Te Sobran {{ KgF |floatformat }} Kilos debes subir de peso</p>
                {% elif PIdealH == peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg<br> Felicidades! Estas en tu peso ideal</p>
                {% endif %}  
            {% elif edad >= 79 %}
                {% if PGC_H <= 13 %}
                    <h5>Resultado</h5>
                    <p>No tienes la suficiente Grasa en el Cuerpo.<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Debes tener mas PGC para estar saludable recuerda consultar con un especializasta</p>
                {% elif PGC_H <= 25 %}
                    <h5>Resultado</h5>
                    <p>Genial! te encuentras Saludable!<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Talvez tengas que perder grasa de la barriga ¡Genial!</p>
                {% elif PGC_H <= 30 %}
                    <h5>Resultado</h5>
                    <p>Tienes Sobrepeso<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Debes cuidarte tu salud es importante comienza lento y de a poco. Recuerda consultar un especializasta</p>
                {% elif PGC_H > 30 %}
                    <h5>Resultado</h5>
                    <p>Tienes Obesidad<br> Tu Porcentaje de Grasa es: {{ PGC_H|floatformat }}% <br>Consejo: Esto es peligroso la Obesidad puede traer muchas enfermedades comienza lento y de a poco. Recuerda consultar un especializasta</p>
                {% endif %}
                {% if PIdealH < peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg.<br> Te faltan {{ KgF |floatformat }} Kilos debes bajar de peso </p>
                {% elif PIdealH > peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg.<br> Te Sobran {{ KgF |floatformat }} Kilos debes subir de peso</p>
                {% elif PIdealH == peso %}
                <p>Tu peso recomendado es {{ PIdealH |floatformat }} Kg<br> Felicidades! Estas en tu peso ideal</p>
                {% endif %}     
            {% endif %} 
        {% endif %}
    </div>
{% endblock %}


{% block info %}
        <article class="row">
            <h4 class="text-light fw-bolder">¿Cómo interpretar el PGC?</h4>
            <div class="col-sm-12 col-lg-5 table-responsive-sm">
                <p class="h6 text-light">Porcentaje de Grasa Corporal (EN HOMBRES)</p>
                <table class="table table-light table-bordered table-sm border border-5">
                    <thead class="text-center">
                    <tr>
                        <th>Califación</th>
                        <th>20-39<br>Años</th>
                        <th>40-59<br>Años</th>
                        <th>60-79<br>Años</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-danger">
                        <td>Bajo en Grasa</td>
                        <td>Menor a 8%</td>
                        <td>Menor a 11%</td>
                        <td>Menor a 13%</td>
                    </tr>
                    <tr class="table-success">
                        <td>Saludable</td>
                        <td>8 - 20%</td>
                        <td>11 - 22%</td>
                        <td>13 - 25%</td>
                    </tr>
                    <tr class="table-warning">
                        <td>Sobrepeso</td>
                        <td>20 - 25%</td>
                        <td>22 - 28%</td>
                        <td>25 - 30%</td>
                    </tr>
                    <tr class="table-danger">
                        <td>Obesidad</td>
                        <td>Mayor a 25%</td>
                        <td>Mayor a 28%</td>
                        <td>Mayor a 30%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-lg-7">
                <h5 class="fw-bolder">Porcentaje de grasa ideal para un hombre</h5>
                <p class="text-start text-light">De nuevo establecemos tres rangos de edad y cuatro rangos de salud en base a los resultados:</p>
                <ul>
                    <li>Un hombre de entre 20 y 39 años estará bajo en grasa si su porcentaje es inferior al 8%; saludable si su porcentaje se sitúa entre el 8 y el 20%; tendrá sobrepeso si su porcentaje está entre 20 y 25% y será obeso si el porcentaje supera el 25% de grasa corporal.</li>
                    <li>Si su edad está entre 40 y 59 años será bajo en grasa con un porcentaje inferior al 11%; saludable para un porcentaje de 11-22%; sobrepeso con un 22-28% y obesidad con cifras superiores al 28%.</li>
                    <li>Si la edad está entre los 60 y los 79 años entonces bajo en grasa será para los índices inferiores al 13%; saludable para 13-25%, sobrepeso para el 25-30% y obesidad para porcentajes superiores al 30% de grasa corporal.</li>
                </ul>
            </div>
        </article>
        <article id="info" class="row">
            <h4 class="fw-bolder">¿Como calculo el PGC?</h4>
            <p>Probablemente el método más práctico para calcular el PGC es: El Método de La marina de Estados Unidos. (US Navy Body Fat)<br>
                <strong>En este método solo necesitas 1 cinta métrica y 2 medidas, si eres hombre y 3 medidas si eres mujer. 
                    (Aparte de tus datos como altura y peso)</strong><br>
                Y a partir de una fórmula puedes estimar tus niveles de grasa corporal.</p>
            <ul class="fw-bolder">
                <li>Solo necesitas tu medida de cuello y tu medida de cintura (en hombres).</li>
                <li>Y tu medida de cuello, cintura y caderas (en mujeres).</li>
            </ul>
            <p class="fw-bolder">Formula Para Mujeres<br>
                %Grasa = 163.205 * log10(cintura + cadera - cuello) - 97.684 * log10(altura) - 78.387
            </p>
            <p class="fw-bolder">Formula Para Hombres<br>
                %Grasa = 495 / (1.0324 - 0.19077 * log10(cintura - cuello) + 0.15456 * log10(altura)) - 450
            </p>
        </article>
        <article class="row">
            <h4 class="fw-bolder">¿Cómo bajar el porcentaje de grasa corporal?</h4>
            <p>Hay muchos factores que pueden influir en la acumulación de grasa corporal por encima de los límites saludables, pero en general podemos darte los siguientes consejos para reducir tu % de grasa corporal basados en 3 premisas: crear un déficit de energía, mantener los ejercicios musculares intensos y aumentar el gasto energético actual.</p>
            <ul class="fw-bolder">
                <li>Realiza entrenamientos que incluyan ejercicios cardiovasculares. El método HIIT puede ser de gran ayuda.</li>
                <li>Desarrolla músculo con entrenamiento de resistencia o con un entrenamiento específico para ganar masa muscular. Combínalo con una dieta para aumentar masa muscular.</li>
                <li>Come alimentos ricos en fibra y micronutrientes. Las frutas y verduras son esenciales.</li>
            </ul>
            <p>Como verás, la clave está en la composición corporal y en el porcentaje de grasa corporal. Tomate en serio el cambio es esencial estar saludable, recuerda disfrutar el proceso!</p>
        </article>
    </div>     
{% endblock %}