{% extends 'Calculadoras/CalcuBases.html' %}

{% load static %}

{% block title %} CalcuPGC {% endblock %}

{% block imagen %}
    <img src="{% static 'Calculadoras/imagenes/PGC.jpg'%}" class="card-img-top" alt="...">
{% endblock %}

{% block body %}
    <p><strong>¿Qué es el PGC?</strong><br>Se trata de una medida indicativa de sobrepeso, o infrapeso, que nos ayuda a distinguir la masa muscular de la materia grasa que está presente en nuestra composición corporal.
        El peso que vemos en la báscula no lo es todo y en el caso de los deportistas, índices como el <a href="{% url 'CalcuIMC' %}" class="text-muted">IMC (Índice de Masa Corporal)</a> no resultan suficiente para medir la masa muscular real.
        El porcentaje de grasa corporal depende de la edad, el sexo, el peso y el estilo de vida. Así, podemos establecer los rangos que se muestra a continuación. <a href="#info">¿Quieres saber mas?</a></p>
{% endblock %}

{% block form %}
    <h4 class="text-align">Calculadora de Porcentaje de Grasa Corporal</h4>
    <p>Ingrese los siguientes datos:</p>
    <a href="{% url 'CalcuPGCM' %}" class="btn btn-outline-secondary">Mujer</a> 
    <a href="{% url 'CalcuPGCH' %}" class="btn btn-outline-secondary">Hombre</a>
    <form class="mt-2" action="{% url 'CalcuPGCM' %}" method="POST"> {% csrf_token %}
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="edad">Edad: </label>
            <input  id="edad" type="text" class="form-control" placeholder="18 años" aria-label="18" aria-describedby="basic-addon1" maxlength="3" name="edad" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="altura">Altura: </label>
            <input id="altura" type="text" class="form-control" placeholder="170 cm" aria-label="170" aria-describedby="basic-addon1" maxlength="3" name="altura" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="peso">Peso: </label>
            <input id="peso" type="text" class="form-control" placeholder="70 Kg" aria-label="70" aria-describedby="basic-addon1" maxlength="3" name="peso" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="cuello">Cuello: </label>
            <input id="cuello" type="text" class="form-control" placeholder="45 cm" aria-label="70" aria-describedby="basic-addon1" maxlength="3" name="cuello" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="peso">Cadera: </label>
            <input id="peso" type="text" class="form-control" placeholder="120 cm (Solo mujeres)" aria-label="70" aria-describedby="basic-addon1" maxlength="3" name="cuello" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="peso">Cintura: </label>
            <input id="peso" type="text" class="form-control" placeholder="140 cm" aria-label="70" aria-describedby="basic-addon1" maxlength="3" name="peso" required/>
        </div>
        <div class="d-grid gap-2">
            <input class="btn btn-light"  type="submit" value="Resultado"/>
        </div>
    </form>
    <div class="mt-3">
        {% if request.method == "POST" %}
            {% if edad <= 39 %}
                {% if PGC_M <= 21 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>
                {% elif PGC_M <= 33 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>
                {% elif PGC_M <= 39 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>    
                {% elif PGC_M >= 39 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>   
                {% endif %}
            {% elif edad <= 59 %}
                {% if PGC_M <= 23 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>
                {% elif PGC_M <= 35 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>
                {% elif PGC_M <= 40 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>
                {% elif PGC_M >= 40 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>
                {% endif %} 
            {% elif edad <= 79 %}
                {% if PGC_M <= 24 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>
                {% elif PGC_M <= 36 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>
                {% elif PGC_M <= 42 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>
                {% elif PGC_M >= 42 %}
                    <h5>Resultado</h5>
                    <p>Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }} Tu peso ideal es: {{ PIdealM|floatformat }} Kg</p>
                {% endif %}    
            {% endif %} 
        {% endif %}
    </div>
{% endblock %}


{% block info %}
        <article class="row">
            <h4 class="text-light">¿Cómo interpretar el PGC?</h4>
            <div class="col-sm-12 col-lg-5 table-responsive-sm">
                <p class="h6 text-light">Porcentaje de Grasa Corporal (EN MUJERES)</p>
                <table class="table table-light table-bordered table-sm border border-5">
                    <thead class="text-center">
                    <tr>
                        <th>Califación</th>
                        <th>20-39<br>Años</th>
                        <th>40-59<br>Años</th>
                        <th>60-79<br>Años</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-danger">
                        <td>Bajo en Grasa</td>
                        <td>Menor a 21%</td>
                        <td>Menor a 23%</td>
                        <td>Menor a 24%</td>
                    </tr>
                    <tr class="table-success">
                        <td>Saludable</td>
                        <td>21 - 33%</td>
                        <td>23 - 35%</td>
                        <td>24 - 36%</td>
                    </tr>
                    <tr class="table-warning">
                        <td>Sobrepeso</td>
                        <td>33 - 39%</td>
                        <td>35 - 40%</td>
                        <td>36 - 42%</td>
                    </tr>
                    <tr class="table-danger">
                        <td>Obesidad</td>
                        <td>Mayor a 39%</td>
                        <td>Mayor a 40%</td>
                        <td>Mayor a 42%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-lg-7">
                <h5>El IMC ideal que hay que tener para estar sanos</h5>
                <p class="text-start text-light">
                    El IMC aconsejable para tener una salud óptima, el índice de masa corporal promedio para una población adulta debe estar en el rango de 21 a 23, siendo en cualquier caso válido un IMC de entre 18,5 y 24,9.
                    Efectos adversos por encima de un IMC de 25: la obesidad provoca efectos metabólicos adversos sobre la presión arterial, el colesterol, los triglicéridos y la resistencia a la insulina.<br>
                    Enfermedades asociadas a la obesidad: enfermedad coronaria, accidente cerebrovascular isquémico, diabetes mellitus tipo 2...<br> También aumenta el riesgo de padecer cáncer de mama, colon, próstata, endometrio, riñón y vesícula biliar. Las tasas de mortalidad aumentan a mayor sobrepeso.
                </p>
            </div>
        </article>
        <article id="info" class="row">
            <h4>¿Cual es la formula para Calcular el IMC?</h4>
            <p>la fórmula para el IMC es el <strong>peso en kilogramos dividido por la estatura en metros cuadrados.</strong> Debido a que la estatura por lo general se mide en centímetros, divida la estatura en centímetros por 100 para obtener la estatura en metros.<br>Ejemplo: Peso = 68 kg, Estatura = 165 cm (1.65 m)
                <br>Cálculo: 68 ÷ (1.65)*2 = 24.98</p>
        </article>
        <article class="row">
            <h4>¿Por qué no hay que fijarse solo en el IMC?</h4>
            <ul>
                <li>1. Porque no distingue entre grasa y músculo: por un lado, el IMC puede que diga que una persona está en un valor normal, aunque en realidad , puede tener un índice de grasa superior a lo recomendado. Por contra, deportistas muy musculados pueden dar un nivel de IMC superior pero estar más saludables. Por ello, conviene calcular también el porcentaje de grasa.</li>
                <li>2. Porque no distingue entre sexos: con el mismo IMC, las mujeres tienden a tener más grasa corporal que los hombres.</li>
                <li>3. Porque no distingue entre edades: con el mismo IMC, las personas de edad avanzada, en promedio, tienden a tener más grasa corporal que los adultos más jóvenes.</li>
                <li>4. Porque no presta atención a otros posibles riesgos: a pesar de un IMC aceptable, una personas puede desarrollar enfermedades vinculadas a la obesidad por tener un alto nivel de grasa abdominal, por tener la presión arterial alta o por la falta de actividad física.</li>
            </ul>
        </article>
    </div>     
{% endblock %}