{% extends 'Calculadoras/CalcuBases.html' %}

{% load static %}

{% block title %} CalcuIMC {% endblock %}

{% block imagen %}
    <img src="{% static 'Calculadoras/imagenes/PGC.jpg'%}" class="card-img-top" alt="...">
{% endblock %}

{% block body %}
    {% lorem 1 b random %}
{% endblock %}

{% block form %}
    <label class="sexo-label" for="mujer"><input id="mujer" type="radio" checked value="M" name="sexo"/>Mujer</label>
    <label class="sexo-label" for="hombre"><input id="hombre" type="radio" value="H" name="sexo"/>Hombre</label>
{% endblock %}