{% extends 'Calculadoras/CalcuBases.html' %}

{% load static %}

{% block title %} CalcuPGC {% endblock %}

{% block imagen %}
    <img src="{% static 'Calculadoras/imagenes/PGC.jpg'%}" class="card-img-top" alt="...">
{% endblock %}

{% block body %}
    {% if request.method == "POST"%}
    <p class="font-monospace">Esta calculadora resuelve valores aproximados. ¡Consulte a su Nutricionista para un valor exacto!</p>  
    {% endif%}
    <p class="p-3"><strong>¿Qué es el PGC?</strong><br>Se trata de una medida indicativa de sobrepeso, o infra peso, que nos ayuda a distinguir la masa muscular de la materia grasa que está presente en nuestra composición corporal.
        El peso que vemos en la báscula no lo es todo y en el caso de los deportistas, índices como el <a href="{% url 'CalcuIMC' %}">IMC (Índice de Masa Corporal)</a> no resultan suficiente para medir la masa muscular real.
        El porcentaje de grasa corporal depende de la edad, el sexo, el peso y el estilo de vida. Así, podemos establecer los rangos que se muestra a continuación. <a href="#info">¿Quieres saber más?</a></p>
{% endblock %}

{% block form %}
    <h4 class="text-align">Calculadora de Porcentaje de Grasa Corporal</h4>
    <p>Ingrese los siguientes datos:</p>
    <a href="{% url 'CalcuPGCM' %}" class="btn btn-primary">Mujer</a> 
    <a href="{% url 'CalcuPGCH' %}" class="btn btn-primary">Hombre</a>
    <form class="mt-2" action="{% url 'CalcuPGCM' %}" method="POST"> {% csrf_token %}
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="edad">Edad: </label>
            <input  id="edad" type="number" min="1" max="999" class="form-control" placeholder="18 años" name="edad" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="altura">Altura: </label>
            <input id="altura" type="number" min="1" max="999" class="form-control" placeholder="170 cm" name="altura" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="peso">Peso: </label>
            <input id="peso" type="number" min="1" max="999" class="form-control" placeholder="70 Kg" name="peso" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="cuello">Cuello: </label>
            <input id="cuello" type="number" min="1" max="999" class="form-control" placeholder="45 cm" name="cuello" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="cadera">Cadera: </label>
            <input id="cadera" type="number" min="1" max="999" class="form-control" placeholder="120 cm (Solo mujeres)" name="cadera" required/>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" id="basic-addon1" for="cintura">Cintura: </label>
            <input id="cintura" type="number" min="1" max="999" class="form-control" placeholder="140 cm" name="cintura" required/>
        </div>
        <div class="d-grid gap-2">
            <input class="btn btn-success"  type="submit" value="Resultado"/>
        </div>
    </form>
    <div class="mt-3">
        {% if request.method == "POST" %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <i class='bx bxs-error bx-md'></i>
                        <div>
                            Ingresaste un valor incorrecto. ¡Intente lo nuevamente!
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if edad < 39%}
                {% if PGC_M <= 21 %}
                    <h5>Resultado</h5>
                    <p>No tienes la suficiente Grasa en el Cuerpo.<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Es esencial tener un PGC mas alto!</p>
                {% elif PGC_M <= 33 %}
                    <h5>Resultado</h5>
                    <p>Genial! te encuentras Saludable!<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Talvez tengas que perder grasa de la barriga</p>
                {% elif PGC_M <= 39 %}
                    <h5>Resultado</h5>
                    <p>Tienes Sobrepeso<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Debes cuidarte tu salud es importante</p>    
                {% elif PGC_M > 39 %}
                    <h5>Resultado</h5>
                    <p>Tienes Obesidad<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Esto es peligroso la Obesidad puede traer muchas enfermedades</p>   
                {% endif %}
                {% if PIdealM < peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg.<br> Te faltan {{ KgF |floatformat }} Kilos debes bajar de peso </p>
                {% elif PIdealM > peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg.<br> Te Sobran {{ KgF |floatformat }} Kilos debes subir de peso</p>
                {% elif PIdealM == peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg<br> Felicidades! Estas en tu peso ideal</p>
                {% endif %} 
            {% elif edad >= 39 %}
                {% if PGC_M <= 21 %}
                    <h5>Resultado</h5>
                    <p>No tienes la suficiente Grasa en el Cuerpo.<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Es esencial tener un PGC mas alto!</p>
                {% elif PGC_M <= 33 %}
                    <h5>Resultado</h5>
                    <p>Genial! te encuentras Saludable!<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Talvez tengas que perder grasa de la barriga</p>
                {% elif PGC_M <= 39 %}
                    <h5>Resultado</h5>
                    <p>Tienes Sobrepeso<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Debes cuidarte tu salud es importante</p>    
                {% elif PGC_M > 39 %}
                    <h5>Resultado</h5>
                    <p>Tienes Obesidad<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Esto es peligroso la Obesidad puede traer muchas enfermedades</p>   
                {% endif %}
                {% if PIdealM < peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg.<br> Te faltan {{ KgF |floatformat }} Kilos debes bajar de peso </p>
                {% elif PIdealM > peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg.<br> Te Sobran {{ KgF |floatformat }} Kilos debes subir de peso</p>
                {% elif PIdealM == peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg<br> Felicidades! Estas en tu peso ideal</p>
                {% endif %} 
            {% elif edad >= 59 %}
                {% if PGC_M <= 23 %}
                    <h5>Resultado</h5>
                    <p>No tienes la suficiente Grasa en el Cuerpo.<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: debes tener una dieta mas saludable a tu edad necesitas un poco mas de grasa.</p>
                {% elif PGC_M <= 35 %}
                    <h5>Resultado</h5>
                    <p>Genial! te encuentras Saludable!<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Talvez tengas que perder grasa de la barriga ¡Bien hecho!</p>
                {% elif PGC_M <= 40 %}
                    <h5>Resultado</h5>
                    <p>Tienes Sobrepeso<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Debes cuidarte tu salud es importante. Recuerda ir con un especializasta</p>
                {% elif PGC_M > 40 %}
                    <h5>Resultado</h5>
                    <p>Tienes Obesidad<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Esto es peligroso la Obesidad puede traer muchas enfermedades. ¡Comienza de a poco, tu puedes!</p>
                {% endif %} 
                {% if PIdealM < peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg.<br> Te faltan {{ KgF |floatformat }} Kilos debes bajar de peso </p>
                {% elif PIdealM > peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg.<br> Te Sobran {{ KgF |floatformat }} Kilos debes subir de peso</p>
                {% elif PIdealM == peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg<br> Felicidades! Estas en tu peso ideal</p>
                {% endif %}  
            {% elif edad >= 79 %}
                {% if PGC_M <= 24 %}
                    <h5>Resultado</h5>
                    <p>No tienes la suficiente Grasa en el Cuerpo.<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Debes tener mas PGC para estar saludable recuerda consultar con un especializasta</p>
                {% elif PGC_M <= 36 %}
                    <h5>Resultado</h5>
                    <p>Genial! te encuentras Saludable!<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Talvez tengas que perder grasa de la barriga ¡Genial!</p>
                {% elif PGC_M <= 42 %}
                    <h5>Resultado</h5>
                    <p>Tienes Sobrepeso<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Debes cuidarte tu salud es importante comienza lento y de a poco. Recuerda consultar un especializasta</p>
                {% elif PGC_M > 42 %}
                    <h5>Resultado</h5>
                    <p>Tienes Obesidad<br> Tu Porcentaje de Grasa es: {{ PGC_M|floatformat }}% <br>Consejo: Esto es peligroso la Obesidad puede traer muchas enfermedades comienza lento y de a poco. Recuerda consultar un especializasta</p>
                {% endif %}
                {% if PIdealM < peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg.<br> Te faltan {{ KgF |floatformat }} Kilos debes bajar de peso </p>
                {% elif PIdealM > peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg.<br> Te Sobran {{ KgF |floatformat }} Kilos debes subir de peso</p>
                {% elif PIdealM == peso %}
                <p>Tu peso recomendado es {{ PIdealM |floatformat }} Kg<br> Felicidades! Estas en tu peso ideal</p>
                {% endif %}     
            {% endif %} 
        {% endif %}
    </div>
{% endblock %}


{% block info %}
        <article class="row">
            <h4 class="text-light fw-bolder">¿Cómo interpretar el PGC?</h4>
            <div class="col-sm-12 col-lg-5 table-responsive-sm">
                <p class="h6 text-light">Porcentaje de Grasa Corporal (EN MUJERES)</p>
                <table class="table table-light table-bordered table-sm border border-5">
                    <thead class="text-center">
                    <tr>
                        <th>Califación</th>
                        <th>20-39<br>Años</th>
                        <th>40-59<br>Años</th>
                        <th>60-79<br>Años</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-danger">
                        <td>Bajo en Grasa</td>
                        <td>Menor a 21%</td>
                        <td>Menor a 23%</td>
                        <td>Menor a 24%</td>
                    </tr>
                    <tr class="table-success">
                        <td>Saludable</td>
                        <td>21 - 33%</td>
                        <td>23 - 35%</td>
                        <td>24 - 36%</td>
                    </tr>
                    <tr class="table-warning">
                        <td>Sobrepeso</td>
                        <td>33 - 39%</td>
                        <td>35 - 40%</td>
                        <td>36 - 42%</td>
                    </tr>
                    <tr class="table-danger">
                        <td>Obesidad</td>
                        <td>Mayor a 39%</td>
                        <td>Mayor a 40%</td>
                        <td>Mayor a 42%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-lg-7">
                <h5 class="fw-bolder">Porcentaje de grasa ideal para una mujer</h5>
                <p class="text-start text-light">Para establecer rangos de grasa ideal para mujeres vamos a utilizar tres segmentos de edad y hasta cuatro clasificaciones en función del resultado:</p>
                <ul>
                    <li>Una mujer de entre 20 y 39 años estará baja en grasa si su porcentaje es inferior al 21%; saludable si su porcentaje se sitúa entre el 21 y el 33%; tendrá sobrepeso si su porcentaje está entre 33 y 39% y será obeso si el porcentaje supera el 39% de grasa corporal.</li>
                    <li>Si su edad está entre 40 y 59 años será baja en grasa con un porcentaje inferior al 23%; saludable para un porcentaje de 23-35%; sobrepeso con un 35-40% y obesidad con cifras superiores al 40%.</li>
                    <li>Si la edad está entre los 60 y los 79 años entonces bajo en grasa será para los índices inferiores al 24%; saludable para 24-36%, sobrepeso para el 36-42% y obesidad para porcentajes superiores al 42% de grasa corporal.</li>
                </ul>
            </div>
        </article>
        <article id="info" class="row">
            <h4 class="fw-bolder">¿Como calculo el PGC?</h4>
            <p>Probablemente el método más práctico para calcular el PGC es: El Método de La marina de Estados Unidos. (US Navy Body Fat)<br>
                <strong>En este método solo necesitas 1 cinta métrica y 2 medidas, si eres hombre y 3 medidas si eres mujer. 
                    (Aparte de tus datos como altura y peso)</strong><br>
                Y a partir de una fórmula puedes estimar tus niveles de grasa corporal.</p>
            <ul class="fw-bolder">
                <li>Solo necesitas tu medida de cuello y tu medida de cintura (en hombres).</li>
                <li>Y tu medida de cuello, cintura y caderas (en mujeres).</li>
            </ul>
            <p class="fw-bolder">Formula Para Mujeres<br>
                %Grasa = 163.205 * log10(cintura + cadera - cuello) - 97.684 * log10(altura) - 78.387
            </p>
            <p class="fw-bolder">Formula Para Hombres<br>
                %Grasa = 495 / (1.0324 - 0.19077 * log10(cintura - cuello) + 0.15456 * log10(altura)) - 450
            </p>
        </article>
        <article class="row">
            <h4 class="fw-bolder">¿Cómo bajar el porcentaje de grasa corporal?</h4>
            <p>Hay muchos factores que pueden influir en la acumulación de grasa corporal por encima de los límites saludables, pero en general podemos darte los siguientes consejos para reducir tu % de grasa corporal basados en 3 premisas: crear un déficit de energía, mantener los ejercicios musculares intensos y aumentar el gasto energético actual.</p>
            <ul class="fw-bolder">
                <li>Realiza entrenamientos que incluyan ejercicios cardiovasculares. El método HIIT puede ser de gran ayuda.</li>
                <li>Desarrolla músculo con entrenamiento de resistencia o con un entrenamiento específico para ganar masa muscular. Combínalo con una dieta para aumentar masa muscular.</li>
                <li>Come alimentos ricos en fibra y micronutrientes. Las frutas y verduras son esenciales.</li>
            </ul>
            <p>Como verás, la clave está en la composición corporal y en el porcentaje de grasa corporal. Tomate en serio el cambio es esencial estar saludable, recuerda disfrutar el proceso!</p>
        </article>
    </div>     
{% endblock %}